* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.game {
  position: relative;
  display: inline-block;
  &__stats {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 25px;
  }
  &__health-bar {
    position: relative;
    width: 100%;
    height: 30px;

    .game__bar {
      height: 30px;
      width: 100%;
      &--health {
        background: linear-gradient(to left, red, orange, yellow);
        height: 30px;
        width: 100%;
        border-radius: 0px 15px 15px 0px;
      }
      &--damage {
        background: linear-gradient(
          45deg,
          rgb(0, 200, 255),
          rgb(0, 162, 255),
          rgb(30, 0, 255),
          rgb(102, 46, 221)
        );
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    }
    &--player-one {
      display: flex;
      justify-content: flex-end;
      .game__bar {
        &--health {
          background: linear-gradient(to right, red, orange, yellow);
          border-radius: 15px 0px 0px 15px;
        }
        &--damage {
          background: linear-gradient(
            45deg,
            rgb(102, 46, 221),
            rgb(30, 0, 255),
            rgb(0, 162, 255),
            rgb(0, 200, 255)
          );
        }
      }
    }
  }

  &__timer {
    background-color: white;
    border: 4px solid lime;
    height: 100px;
    width: 100px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__result {
    position: absolute;
    color: white;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
