@import "https://use.typekit.net/ifq7fkp.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Vox", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    45deg,
    rgb(245, 148, 30),
    rgb(230, 31, 31),
    rgb(21, 68, 209),
    rgb(43, 215, 43)
  );
  animation: gradient 10s ease infinite;
  background-size: 400%;
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.controls {
  margin: 25px 0;
  &--restart {
  }
}

.game {
  position: relative;
  display: inline-block;
  &__stats {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 25px;
  }
  &__health-bar {
    position: relative;
    width: 100%;
    height: 30px;

    .game__bar {
      height: 30px;
      width: 100%;
      &--health {
        background: linear-gradient(to left, red, orange, yellow);
        height: 30px;
        width: 100%;
        border-radius: 0px 15px 15px 0px;
      }
      &--damage {
        background: linear-gradient(
          45deg,
          rgb(0, 200, 255),
          rgb(0, 162, 255),
          rgb(30, 0, 255),
          rgb(102, 46, 221)
        );
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    }
    &--player-one {
      display: flex;
      justify-content: flex-end;
      .game__bar {
        &--health {
          background: linear-gradient(to right, red, orange, yellow);
          border-radius: 15px 0px 0px 15px;
        }
        &--damage {
          background: linear-gradient(
            45deg,
            rgb(102, 46, 221),
            rgb(30, 0, 255),
            rgb(0, 162, 255),
            rgb(0, 200, 255)
          );
        }
      }
    }
  }

  &__timer {
    color: white;
    font-size: 3rem;
    text-shadow: 1px 1px black;
    border: 4px solid lime;
    height: 100px;
    width: 100px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: linear-gradient(
      45deg,
      rgb(25, 156, 117),
      rgb(4, 165, 4),
      rgb(32, 223, 32),
      rgb(0, 255, 187)
    );
  }

  &__result {
    position: absolute;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
